
<ion-content>
  <ion-text class="header">REQUESTS</ion-text>

  <ion-item></ion-item>
  <div class="cards">
   <ion-card>
     <ion-card-header>
     
     </ion-card-header>
   </ion-card>
 
 
   <ion-card>
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 

 
 </div>
 
 </ion-content>
 
 