<ion-content [fullscreen]="true">

  <ion-text class="header">PAYMENT</ion-text>

  <ion-card>
    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>To Pay</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>Rent</ion-col>
        <ion-col> </ion-col>
        <ion-col>₱3000.00</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>Electricity</ion-col>
        <ion-col> </ion-col>
        <ion-col>₱2000.00</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>Water</ion-col>
        <ion-col> </ion-col>
        <ion-col>₱1500.00</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>Total</ion-col>
        <ion-col> </ion-col>
        <ion-col>₱6500.00</ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <h5>Payment Amount</h5>
  <input type="number" class="rounded-input ">
  <br/>

  <h5>Payment Date</h5>
  <input type="date" class="rounded-input ">
  <br/>

  <h5>Payment Method</h5>
  <input type="text" class="rounded-input">
  
  <div>
    <!-- <ion-button (click)="showReceipt()" class="pay-button">
      Pay Bill
    </ion-button> -->
  </div>
</ion-content>