
.header {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-size: 25px;
    font-weight: bold;
    color: #891E89;
  
  }
  .cards {
  
    margin-top: 50px;
    margin-bottom: 10%;
    position: relative;
  }
  
  ion-card {
    background-color: #F9FAFB;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 150px;
    position: relative;
  }
  
  
  