
<ion-content>
  <ion-text class="header">TRANSACTIONS</ion-text>



<div class="cards"  *ngFor="let trans of transactions">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ trans.billType }}</ion-card-title>
      <ion-card-subtitle> Unit Number: {{ trans.unitNumber }} </ion-card-subtitle>
      
    </ion-card-header>
    
    <ion-card-content>
      <ion-label>Payment Amount: </ion-label>  {{ trans.paymentAmount }} <br>

        <ion-label>Payment Date: {{trans.paymentDate}}
      </ion-label>

  <div class="transaction__btns">
        <ion-button fill="clear" (click)="deleteTransaction(trans)">Delete</ion-button>
      </div>
 

    </ion-card-content>
  </ion-card>
</div>


</ion-content>