
<ion-content>
  <ion-text class="header">TRANSACTIONS</ion-text>
 
 
  <div class="cards">
   <ion-card>
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card>
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 
 
   <ion-card >
     <ion-card-header>
 
     </ion-card-header>
   </ion-card>
 
 

 
 </div>
 
 </ion-content>
 
 