<ion-content>
	<ion-text class="header"></ion-text>
  <div class="ln">

    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    <ion-text class="name">username</ion-text>
   
  </div>


	<ion-card>
  <ion-card-header>
    <ion-card-title>Name</ion-card-title>
    <ion-card-content class=" ">Larry Davis</ion-card-content>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Email</ion-card-title>
    <ion-card-content class="ion-text-right">
    </ion-card-content>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Gender</ion-card-title>
    <ion-card-content class="ion-text-right">
    </ion-card-content>
  </ion-card-header>
</ion-card>



<ion-card>
  <ion-card-header>
    <ion-card-title>Birthday</ion-card-title>
    <ion-card-content class="ion-text-right">
    </ion-card-content>
  </ion-card-header>
</ion-card>



<ion-card>
  <ion-card-header>
    <ion-card-title>Phone number</ion-card-title>
    <ion-card-content class="ion-text-right">
    </ion-card-content>
  </ion-card-header>
</ion-card>

</ion-content>
