<div class="full">
  <ion-text class="title" color="primary"></ion-text>

  <div class="ln">
    <img class="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="demo-avatar">

    <ion-text class="name" color="none" lines="none">username</ion-text>
  </div>

<div class="section">
  <ion-card id="name">
    <ion-card-header>
      <ion-card-title >Name</ion-card-title>
      <ion-card-content class="ion-text-right">
        Landlord
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
      <ion-card-content class="ion-text-right">
        landlord&commat;gmail.com
      </ion-card-content>
      </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gender</ion-card-title>
      <ion-card-content class="ion-text-right">
        Not set
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Birthday</ion-card-title>
      <ion-card-content class="ion-text-right">Not set
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card id="number">
    <ion-card-header>
      <ion-card-title>Phone number</ion-card-title>
      <ion-card-content class="ion-text-right">
        Not set
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</div>

  <ion-button fill="outline" expand="block" default-href="login">
    <ion-icon name="exit-outline" color="white" slot="start"></ion-icon>
    <a href="login" id="a-button">Log Out</a>
  </ion-button>


  </div>
