<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <ion-title>Maintenance Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <h5>Unit</h5>

    <ion-select label="Select unit" placeholder="Unit">
      <ion-select-option value="unit1">unit 1</ion-select-option>
      <ion-select-option value="unit2">unit 2</ion-select-option>
      <ion-select-option value="unit3">unit 3</ion-select-option>
      <ion-select-option value="unit4">unit 4</ion-select-option>
      <ion-select-option value="unit5">unit 5</ion-select-option>
      <ion-select-option value="unit6">unit 6</ion-select-option>
    </ion-select>

    <h5>Maintenance</h5>

        <ion-select label="Maintenance Request" placeholder="Faucet">
          <ion-select-option value="faucet">Leaky Faucet</ion-select-option>
          <ion-select-option value="toilet">Clogged Toilet</ion-select-option>
          <ion-select-option value="ceiling">Cracks in Ceilings</ion-select-option>
          <ion-select-option value="outlet">Faulty Outlets</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>


    <ion-input aria-label="Custom input" placeholder="Type Something..." class="custom"></ion-input>

    <div class="submit">
      <ion-button>Submit</ion-button>
    </div>
  </form>

</ion-content>
