<ion-content [fullscreen]="true">
  <div class="card-center">
    <ion-card class="card">
      <ion-item lines="none">
				<img id="logo" src="../../../assets/icon/SAP-logo.png" alt="SAP-logo.png">
			</ion-item>
      <ion-card-header>
				<ion-card-title color="primary" class="title">CREATE AN ACCOUNT</ion-card-title>
			</ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input  
          label="First name"
          label-placement="floating" 
          fill="solid"
          placeholder="Enter first name" 
          color="primary" 
          [clearInput]="true">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input 
          label="Last name" 
          label-placement="floating" 
          fill="outline" 
          placeholder="Enter last name" 
          color="primary" 
          [clearInput]="true">
          </ion-input>
        </ion-item>
        
        <ion-item lines="none">
          <ion-input 
          label="Email"
          label-placement="floating" 
          fill="outline" 
          placeholder="Enter email" 
          color="primary" 
          type="email"
          helperText="Enter a valid email"
          errorText="Invalid email" 
          successText="Valid email."
          [clearInput]="true" 
          ngModel
          email>
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input 
          label="Mobile number" 
          label-placement="floating" 
          fill="outline" 
          color="primary" 
          type="tel"
          placeholder="Enter mobile number" 
          [clearInput]="true" >
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input 
          label="Username" 
          label-placement="floating" 
          fill="outline" 
          placeholder="Enter username" 
          color="primary" 
          [clearInput]="true">
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input 
          label="Password"
          label-placement="floating" 
          fill="outline" 
          placeholder="Enter Password" 
          color="primary" 
          type="password" 
          [clearInput]="true">
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input 
          label="Confirm Password" 
          label-placement="floating" 
          fill="outline" 
          placeholder="Enter Password" 
          color="primary" 
          type="password" 
          [clearInput]="true" 
          required>
          </ion-input>
        </ion-item>
        
        <ion-button fill="solid" expand="block" id="button">
          Sign Up
        </ion-button>
      </ion-card-content>

      <ion-item class="align-label"  lines="none">

        <ion-label>I already have an account. 
          <a href="login" class="addSpace"> Login. </a>
        </ion-label>


      </ion-item>



    </ion-card>

  </div>

</ion-content>
