<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="request" href="/request">
      <ion-icon aria-hidden="true" name="card"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="transactions" href="/transactions">
      <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/account">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" href="/dashboard">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

