<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="header">PAYMENT</ion-text>

  <h5>Unit</h5>
  <form class="add" action="" id="payment">

    <ion-select label="    "  name="unit" id="unit" placeholder="Unit">
      <ion-select-option value="unit1">unit 1</ion-select-option>
      <ion-select-option value="unit2">unit 2</ion-select-option>
      <ion-select-option value="unit3">unit 3</ion-select-option>
      <ion-select-option value="unit4">unit 4</ion-select-option>
      <ion-select-option value="unit5">unit 5</ion-select-option>
      <ion-select-option value="unit6">unit 6</ion-select-option>
    </ion-select>

  <h5>To pay</h5>

    <ion-select label="    " name="bill" id="bill" placeholder="Bill">
      <ion-select-option value="rent">Rent Bill</ion-select-option>
      <ion-select-option value="water">Water Bill</ion-select-option>
      <ion-select-option value="electric">Electricity Bill</ion-select-option>
    </ion-select>

  <h5>Payment Amount</h5>
  <input type="number" name="number"   id="amount" class="rounded-input">
  <br/>

  <h5>Amount Date</h5>
  <input type="date"  name="date"  id="date" class="rounded-input">
  <br/>

  <div class="submit"  name="submit" id="submit">
    <ion-button onclick="submitForm()">Submit</ion-button>
  </div>
</form>



</ion-content>
<script src="index.js"></script>
