<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
        <ion-title>PAYMENT</ion-title>
  </ion-toolbar>
  </ion-header>
  

  <ion-content>
  <section>
    <h5>Unit</h5>
  
      <ion-select label="Select unit"  placeholder="Unit" [(ngModel)]="unitNumber">
        <ion-select-option value="unit1">unit 1</ion-select-option>
        <ion-select-option value="unit2">unit 2</ion-select-option>
        <ion-select-option value="unit3">unit 3</ion-select-option>
        <ion-select-option value="unit4">unit 4</ion-select-option>
        <ion-select-option value="unit5">unit 5</ion-select-option>
        <ion-select-option value="unit6">unit 6</ion-select-option>
      </ion-select>
  
  <h5>To pay</h5>
  
      <ion-select label="Select bill" placeholder="Bill" [(ngModel)]="billType">
        <ion-select-option value="Rent">Rent Bill</ion-select-option>
        <ion-select-option value="Water">Water Bill</ion-select-option>
        <ion-select-option value="Electric">Electric Bill</ion-select-option>
      </ion-select>
  
  
  <h5>Payment Amount</h5>
  <input type="number" class="rounded-input" [(ngModel)]="paymentAmount" placeholder="Input Amount">
  <br/>
  
  <h5>Payment Date</h5>
  <!-- <input class="rounded-input" placeholder="Input Date" [(ngModel)]="paymentDate"> -->
  
<br/>
  <ion-datetime [(ngModel)]="paymentDate" type="date-time" showClearButton="true" showDefaultButtons="true">
  </ion-datetime>
  
  
  <div class="submit">
      <ion-button (click)="submit()" [disabled]="!(unitNumber && billType && paymentAmount && paymentDate)">Submit</ion-button>
  </div>

  </section>
  </ion-content>