.header {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-size: 25px;
    font-weight: bold;
    color: #891E89;
  }

  ion-title{
    color: hsl(300, 64%, 33%);
    font-size: 18px;
  }
  
  h5 {
    font-weight: bold;
    color: #891e89;
    padding-left: 25px;
  }
  
  ion-content {
    --background: #F5F5F5;
  }
  
  section {
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  
  ion-select,
  .rounded-input {
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 15px; 
    box-sizing: border-box;
    border: 1px solid #891e89;
    background-color: white;
    color: gray;
  }
  
  .submit {
    margin-top: 40px;
    text-align: center;
  }
  
  
  