.header {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-size: 25px;
    font-weight: bold;
    color: #891E89;
}

h5 {
    font-weight: bold;
    color: #891e89;
    padding-left: 25px;
}

ion-content {
    --background: #F5F5F5;
}

ion-select{
    width: calc(100% - 40px);
    height: 60px;
    margin: 0 20px;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #891e89;
    background-color: white;
}
.submit{
    margin-top: 40px;
    text-align: center;
}

.rounded-input {
    width: calc(100% - 40px);
    height: 60px;
    margin: 0 20px;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #891e89;
    background-color: white;
    color: gray;
}