<div class="full">
  <ion-text class="header">DASHBOARD</ion-text>

<div class="body">
  <ion-card id="amount">
    <ion-card-header class="card-title">Income</ion-card-header>
    <ion-card-header class="number">
      {{ totalIncome$ | async }}
    </ion-card-header>

  </ion-card>

    <ion-card>
      <ion-card-header class="card-title">Pending Requests</ion-card-header>
      <ion-card-header class="number">
        {{ pendingRequestsCount$ | async }}
      </ion-card-header>
      <!-- <ion-card-content class="pie" style="--p:60;--b:17px;--c:#891E89;">
      </ion-card-content> -->
      
    </ion-card>

    <ion-card>
      <ion-card-header class="card-title">Occupied Units</ion-card-header>
      <ion-card-header class="number">6</ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header class="card-title">Total Tenants</ion-card-header>
      <ion-card-header class="number">24</ion-card-header>
    </ion-card>

  </div>
</div>
